@import 'variables.css';


.theme {
  border-radius: 3px;
  & input {
    color: var(--fontGray);
  }
}

.error {
  border-radius: 7px;
  background-image: radial-gradient(
    circle at top right,
    var(--lightFaintGrey) 40%, var(--faintYellow)
  );

  & span, & label {
    color: var(--fontRed) !important;
  }

  & input {
    border-bottom-color: var(--fontRed) !important;
  }
}

.success {
  border-radius: 7px;
  background-image: radial-gradient(
    circle at top right,
    var(--lightFaintGrey) 40%, var(--lightFaintGreen)
  );
}

.success, .error {
  @apply --franklin;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}
