@import 'variables.css';


.theme {
  @apply --action-elements;
  margin-bottom: 40px;
  & button {
    color: var(--magma-brown) !important;
  }
}

.navigation {
  margin-top: 70px;
}

.link {
  @apply --navigation-font;
  display: block;
  text-align: center;
  margin: 15px 0;
}
