/* see a list of adjusters(like "shade") @ https://github.com/postcss/postcss-color-function#list-of-color-adjuster */


:root {
  /* FONTS */
  --franklin: {
    font-family: Lato, helvetica, sans-serif;
    font-kerning: 2rem;
  }

  --navigation-font: {
    font-family: Lato, helvetica, sans-serif;
    font-size: 1.2rem;
    font-kerning: 2rem;
    text-decoration: none;
  }

  /* CLASSES */

  --action-elements: {
    background-color: var(--magma-orange) !important;
    color: var(--magma-brown);
  }

  /* COLORS */

  /* --white */
  --white: #fff;
  --offwhite: #f8f8f8;
  --darkerwhite: color(var(--offwhite) shade(20%) alpha(40%));

  /* --grey */
  --grey: #1e1e1d;
  --lightFaintGrey: color(var(--grey) lightness(+ 60%) blend(var(--white) 90%));
  --fontGray: #aaada4;

  /* --yellow */
  --yellow: #f6d612;
  --faintYellow: color(var(--yellow) blend(var(--white) 80%));

  /* --red */
  --red: #c81616;
  --lightRed: color(var(--red) lightness(+ 10%));
  --faintRed: color(var(--red) blend(var(--white) 80%));
  --lightFaintRed: color(var(--red) lightness(+ 10%) blend(var(--white) 80%));
  --fontRed: color(var(--red) blend(var(--white) 40%));

  /* --green */
  --green: #068503;
  --lightGreen: color(var(--green) lightness(+ 10%));
  --faintGreen: color(var(--green) blend(var(--white) 80%));
  --lightFaintGreen: color(var(--green) lightness(+ 10%) blend(var(--white) 80%));

  /* --magma palette */
  --magma-yellow: #FFDB00;
  --magma-orange: #FFA904;
  --magma-deepOrange: #EE7B06;
  --magma-red: #A12424;
  --magma-brown: #400B0B;
}
